/* General config */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container-app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas:
        "nav"
        "main"
        "footer";
    overflow: hidden;
}


/* Header section */
#nav {
    display: flex;
    background: linear-gradient(to top, rgba(194, 13, 0, 0.867), rgb(255, 123, 0));
    grid-area: nav;
    flex-direction: column;
}

#nav img#logo {
    width: 100%;
    height: 10vh;
}


#nav input.toggle[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    margin: auto;
    color: white;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    /* credits https://css-tricks.com/snippets/css/css-triangle/ */
}

.nav-menu {
    max-height: 0px;
    text-align: center;
    transition: max-height .15s ease;
    text-transform: uppercase;
    z-index: -1;
}

.menu-option {
    margin: auto;
    height: 4vh;
    background: rgba(194, 13, 0, 0.867);
    padding-top: 1rem;
}

.menu-option a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
}

.toggle:checked+.lbl-toggle+.nav-menu {
    max-height: 100vh;
    z-index: 1;
}

/* Main section */
#main {
    background: linear-gradient(to top, yellow, orange);
    grid-area: main;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

#images-sorter {
    height: 80vh;
    animation-name: rotate-images;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    background-repeat: round;
    animation-timing-function: ease-in-out;
}

#container-products {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 20vh;
}

.product {
    padding: 1rem;
}

.product img {
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 2rem;
}

#container-stores {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 1rem;
    border-style: solid;
    flex-direction: column;
    padding: 1rem;
}

.store {
    width: 100%;
    border-style: solid;
    margin-bottom: 1rem;
    text-align: center;
}

.store>img {
    width: 100%;
}

.store>iframe {
    margin: auto;
    display: none;
}

.all-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-menu h3{
    padding: 1rem;
    background: linear-gradient(to top, orange , rgb(244, 176, 128));
    color: white;
    width: 100%;
    text-align: center;
}

.index-menu{
    background:linear-gradient(to top, orange , rgb(244, 176, 128));
    border-style: solid;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    position: fixed;
    width: 99%;
}

.index-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.container-options{
    display: flex;
    flex-direction: column;
}

.preview-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.preview-option img{
    width: 80%;
}

.image-workus img {
    width: 100%;
}

.brief-invite {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.card-schedule{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-style: solid;
    border-radius: 1rem;
}

.card-schedule img{
    width: 100%;
    border-radius: 1rem;
    margin: 10px;
}

.container-contact{
    padding: 10px;

}

.contact-form{
    display: flex;
    flex-direction: column;
}

.contact-form input[type=text],input[type=email]{
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    height: 1.5rem;
}

.contact-form textarea{
    border: 0;
}

.container-info-timeline{
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-around;
}
.story-left, .story-rigth{
    text-align: center;
}


/* footer section */

#footer {
    background: linear-gradient(to top, rgba(194, 13, 0, 0.867), rgb(255, 123, 0));
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

#footer p {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.fa-brands {
    align-self: center;
    color: white;
    padding: 2px;
}

.fa-solid {
    align-self: center;
    color: white;
    padding: 2px;
}

@keyframes rotate-images {
    0% {
        background-image: url('../images/image-rotate1.jpeg');
    }

    50% {
        background-image: url('../images/image-rotate2.jpeg');
    }

    100% {
        background-image: url('../images/image-rotate3.jpeg');
    }
}

@media screen and (min-width: 768px) {

    /* Header tablet */
    #nav {
        flex-direction: row;
    }

    #nav img#logo {
        width: 30vw;
        height: 20vh;
    }

    .nav-menu {
        max-width: 0px;
        text-align: center;
        transition: max-width .15s ease;
        list-style-type: none;
    }

    .toggle:checked+.lbl-toggle+.nav-menu {
        max-width: 40vw;
        z-index: 0;
    }

    .menu-option {
        margin: auto;
        height: 25vh;
        background: rgba(194, 13, 0, 0.867);
        padding-top: 1rem;
        width: 40vw;
        line-height: 25vh;
        padding-top: 0%;
    }

    /* Main tablet */
    #images-sorter {
        height: 45vh;
    }

    #container-products {
        flex-direction: row;
    }

    .product img {
        height: 18vh;
    }

    .store {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        align-items: center;
    }

    .store h3{
        padding: 0.5rem;
    }
    .store p{
        padding: 0.5rem;
    }
    .store>img {
        width: 30vw;
    }

    .store>iframe {
        display: block;
        width: 20vw;
        height: 12vh;
    }

    .container-options{
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-around;
    }

    .preview-option{
        width: 30vw;
    }

}

@media screen and (min-width: 1200px) {
    #container-app {
        grid-template-rows: 10vh 80vh 10vh;
    }

    /*Header Desktop  */

    #nav {
        height: 10vh;
        justify-content: space-between;
    }

    #nav img#logo {
        height: 10vh;
    }
    .lbl-toggle {
        display: none;
    }

    .nav-menu {
        max-width: 60vw;
        text-align: center;
        transition: max-width .15s ease;
        list-style-type: none;
        z-index: 1;
    }

    .nav-menu li>a::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        top: 100%;
        left: 0;
        background: white;
        transition: transform 0.5s;
        transform: scaleX(0);
        transform-origin: right;
    }


    .nav-menu li:last-child {
        margin-right: 2rem;
    }

    .nav-menu li>a:hover {
        cursor: pointer;
    }

    .nav-menu li>a:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .menu-option {
        display: inline;
        background: none;
        height: 10vh;
        line-height: 10vh;
    }

    /*Main Desktop */

    #container-products {
        flex-wrap: wrap;
        width: 70vw;
        margin: 0.3rem auto;
    }

    .product {
        padding: 0%;
        width: 49%;
        display: flex;
        justify-content: center;
        margin: 2px;
    }

    .product img {
        width: 95%;
    }

    #images-sorter {
        height: 40vh;
        width: 70vw;
        margin: 0.3rem auto;
    }

    #container-stores{
        height: 80vh;
        width: 98vw;
    }

    .store{
        margin: auto;
        width: 95vw;
        height: 14vh;
    }

    .store > img{
        width: 30vw;
        height: 10vh;
    }

    .store:hover{
        transform: scale(1.02);
        transition: all 0.5s;
    }

    .store > iframe{
        width: 30vw;
    }

    .preview-option{
        width: 30vw;
    }

    .preview-option img{
        width: 35vw;
    }

    .image-workus{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-workus img{
        width: 80%;
        height: 30vh;
    }

    .work-container{
        display: flex;
        direction: row;
        justify-content: center;
        align-items: center;
    }

    .card-schedule{
        width: 40%;
        height: 30vh;
        border-style: none;
    }
}