* {
    margin: 0;
    padding: 0;
}

#container-app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas:
        "nav"
        "main"
        "footer";
}


#nav {
    display: flex;
    background: linear-gradient(to top, rgba(194, 13, 0, 0.867), rgb(255, 123, 0));
    grid-area: nav;
    flex-direction: column;
}

#nav img#logo {
    width: 100%;
    height: 10vh;
}


#nav input.toggle[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    margin: auto;
    color: white;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    /* credits https://css-tricks.com/snippets/css/css-triangle/ */
}

.nav-menu {
    max-height: 0px;
    text-align: center;
    transition: max-height .15s ease;
}

.menu-option {
    margin: auto;
    height: 4vh;
    background: rgba(194, 13, 0, 0.867);
    padding-top: 1rem;
}

.menu-option a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.toggle:checked+.lbl-toggle+.nav-menu {
    max-height: 100vh;
    z-index: 1;
}

#main {
    background: linear-gradient(to top, yellow, orange);
    grid-area: main;
}

#footer {
    background: linear-gradient(to top, rgba(194, 13, 0, 0.867), rgb(255, 123, 0));
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.fa-brands {
    align-self: center;
}

.fa-solid {
    align-self: center;
}

#images-sorter {
    height: 100%;
    animation-name: rotate-images;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@keyframes rotate-images {
    0% {
        background-image: url('../images/product1.jpg');
    }

    35% {
        background-image: url('../images/product2.jpg');
    }

    75% {
        background-image: url('../images/product3.jpg');
    }

    100% {
        background-image: url('../images/product4.jpg');
    }
}

@media screen and (min-width: 768px) {}